:root {
  --mainRed: #e64b4b;
  --mainWhite: #f3f3f3;
  --mainDark: #000000;
  --mainGrey: #adb8b8;
}

body {
  font-family: 'Archivo Black', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-grey {
  color: var(--mainGrey);
}

.text-red {
  color: var(--mainRed);
}
.button-group {
  margin: 5%;
  background: var(--mainRed);
  color: var(--mainWhite);
  text-align: center;
  border: solid 1px var(--mainRed);
}

.btn-black {
  background: transparent;
  text-transform: uppercase;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: solid 0.1rem var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainGrey) !important;
  color: var(--mainDark) !important;
}

.cart-icon {
  cursor: pointer;
  color: var(--mainRed);
  font-size: 1rem;
}

.cart-titles {
  text-decoration: underline;
}
