:root {
  --mainRed: #e64b4b;
  --mainWhite: #f3f3f3;
  --mainDark: #000000;
  --mainGrey: #adb8b8;
}

body {
  font-family: 'Archivo Black', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
